<!DOCTYPE html>
<html lang="ZH-CN">
{% load static %}
<head>
    <link type="text/css" rel="stylesheet" href="/static/css/character.css"/>
    <script type="text/javascript" src="/static/js/character.js/"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
</head>
<title>walking into night</title>
<body>

    <div class="character">
        <div class="property">姓名：</div>
            <p id="pl_name" class="property"></p>
        <div class="property">职业：</div>
            <p id="pl_job" class="property"></p>
        <div class="property">性别：</div>
            <p id="pl_sex" class="property"></p>
        <div class="property">HP:</div>
        <div class="property">随身物品：</div>
        
        <script>
            var pl_name = document.getElementById("pl_name");
            var pl_job = document.getElementById("pl_job");
            var pl_sex = document.getElementById("pl_sex");
            pl_job.innerText = localStorage.getItem("job");
            pl_sex.innerText = localStorage.getItem("sex");
            pl_name.innerText = localStorage.getItem("name")
        </script>
    </div>



    <p class="dialog">我是一个...</p>

        <button class="choose" id="job_doctor" value="医生" onclick="jobdoctor();">医生</button>
        <script>
            var storage = window.localStorage;
            var times = 0;
            function jobdoctor(){
                job_doctor.style.background = times % 2 == 0 ? 'rgb(85, 11, 11)' : 'black';
                storage.job = times % 2 == 0 ? 'none' : job_doctor.value;
                times++;
            }
        </script>

        <button class="choose" id="job_book" value="出版商" onclick="jobbook();">出版商</button>
        <script>
            var storage = window.localStorage;
            function jobbook(){
                job_book.style.background = times % 2 == 0 ? 'rgb(85, 11, 11)' : 'black';
                storage.job = times % 2 == 0 ? 'none' : job_book.value;
                times++;
            }
            
        </script>

        <button class="choose" id="job_pub" value="酒吧兼职招待" onclick="jobpub();">酒吧兼职招待</button>
        <script>
            var storage = window.localStorage;
            function jobpub(){
                job_pub.style.background = times % 2 == 0 ? 'rgb(85, 11, 11)' : 'black';
                storage.job = times % 2 == 0 ? 'none' : job_pub.value;
                times++;
            }
        </script>

        <form action="/choose_age_sex/" method="POST">
            {% csrf_token %}
            <button class="and">然后...</button>
        </form>


    <form action="/back_to_index/" method="POST">
        {% csrf_token %}
        <button class="back_to_index">回到最初</button>
    </form>

    </body>
    </html>