body{background-color: black;}

div.character{
    float: left;
    width: 20%;
    height: 100%;
    background-color:black;
    /* opacity: 0.05; */
    border:1.1vh solid rgb(46, 3, 3);
    box-shadow: 15px 10px 20px 10px rgb(46, 3, 3);
    margin-top: 0px;
    color: brown;
    position: fixed;
    /* position: absolute; */
}

div.bigtitle{
    color: whitesmoke;
    margin-left: 35%;
    font-size: 8vw;
    background: #EEE repeat;
    text-shadow: 5px -5px black, 4px -4px white;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-top: 5%;
}

div.property{
    font-size: 2.5vh;
    color: rgb(163, 44, 44);
    padding-left: 10px;
    padding-top: 10px;
}

p.property{
    font-size: 2.5vh;
    color: rgb(163, 44, 44);
    padding-left: 10px;
    padding-top: 5px;
}

div.maintext{
    width: 60%;
    height: 50%;
    /* background-color: whitesmoke; */
    opacity: 1;
    margin-top: 10%;
    margin-left: 10%;
    padding-left: 25%;
    color: whitesmoke;
    font-size: 20px;
}

p.dialog{
    width: 60%;
    height: 50%;
    /* background-color: whitesmoke; */
    opacity: 1;
    margin-top: 10%;
    margin-left: 10%;
    padding-left: 25%;
    color: whitesmoke;
    font-size: 20px;
}

button.create_pl{
    float: left;
    width: 15vh;
    height: 10vmin;
    background-color:rgb(85, 11, 11);
    color:whitesmoke;
    margin-left:50%;
    margin-top: 5%;
    font-size: 15px;
}

button.and{
    float: left;
    width: 15vh;
    height: 10vmin;
    background-color:rgb(85, 11, 11);
    color:whitesmoke;
    margin-left:50%;
    margin-top: 5%;
    font-size: 15px;
}

div.choose{
    margin-left: 40%;
}

button.choose{
    float: left;
    width: 20vh;
    height: 10vh;
    background-color:rgb(85, 11, 11);
    color:whitesmoke;
    opacity: 0.3;
    margin-left: 2%;
    margin-top: 20%;
    border-width: 0px;
    font-size: 20px;
}


button.back_to_index{
    float: left;
    width: 15vw;
    height: 10vh;
    background-color:rgb(85, 11, 11);
    color:whitesmoke;
    position : absolute;
    left: 2%;
    top: 5%;
}



input.input_name{
    float: left;
    width: 20vh;
    height: 10vh;
    background-color:rgb(85, 11, 11);
    color:whitesmoke;
    opacity: 0.3;
    margin-left: 2%;
    margin-top: 20%;
    border-width: 0px;
    font-size: 20px;
}

button.ensure_name{
    float: left;
    width: 20vh;
    height: 10vh;
    background-color:rgb(85, 11, 11);
    color:whitesmoke;
    opacity: 0.3;
    margin-left: 2%;
    margin-top: 20%;
    border-width: 0px;
    font-size: 20px;
}

p.mail_name{
    color: whitesmoke;
}


