
@function vw($px) {
    @return($px / 1080) * 100vw
}


body{background-color: black;}

div.character{
    float: left;
    width: 25%;
    height: 100%;
    background-color:whitesmoke;
    opacity: 0.11;
    border:15px solid rgb(46, 3, 3);
    margin-top: 15%;
    color: brown;
}

div.bigtitle{
    color: whitesmoke;
    margin-left: 35%;
    font-size: 50px;
    background: #EEE url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAHklEQVQImWNkYGBgYGD4//8/A5wF5SBYyAr+//8PAPOCFO0Q2zq7AAAAAElFTkSuQmCC) repeat;
    text-shadow: 3px -3px black, 2px -2px white;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

div.property{
    font-size: 20px;
    color: rgb(143, 20, 20);
    padding-left: 20px;
    padding-top: 10px;
}

p.property{
    font-size: 25px;
    color: rgb(143, 20, 20);
    padding-left: 20px;
    padding-top: 5px;
}

div.maintext{
    width: 60%;
    height: 50%;
    /* background-color: whitesmoke; */
    opacity: 1;
    margin-top: 10%;
    margin-left: 10%;
    padding-left: 25%;
    color: whitesmoke;
}

button.create_pl{
    float: left;
    width: 30%;
    height: 10%;
    background-color:rgb(85, 11, 11);
    color:whitesmoke;
    margin-left:15%;
    font-size: 15px;
}

button.back_to_index{
    float: left;
    width: 100px;
    height: 50px;
    background-color:rgb(85, 11, 11);
    color:whitesmoke;
    position: absolute;
    right: 100px;
    top: 100px;
}

p.dialog{
    float: left;
    width: 20%;
    height: 20%;
    background-color: black;
    color: whitesmoke;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 55%;
}

input.input_name{
    float: left;
    position: absolute;
    top: 40%;
    left: 750px;
    width: 100px;
}

button.ensure_name{
    float: left;
    position: absolute;
    top: 40%;
    left: 900px;
}

button.choose{
    float: left;
    width: 200px;
    height: 100px;
    background-color:rgb(85, 11, 11);
    color:whitesmoke;
    opacity: 0.3;
    margin-left: 2%;
    margin-top: 20%;
    border-width: 0px;
    font-size: 20px;
}

button.and{
    float: left;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 70%;
    right: 38%;
    background-color: black;
    border-color: antiquewhite;
    border-width: 5px;
    font-size: 20px;
    color: antiquewhite;
}