<!DOCTYPE html>
<html lang="ZH-CN">
{% load static %}
<head>
    <link type="text/css" rel="stylesheet" href="/static/css/character.css"/>
    <script type="text/javascript" src="/static/js/character.js/"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
</head>
<title>walking into night</title>
<body>
    <div class="bigtitle">血色推理小镇</div>
 
    <div class="character">
        <div class="property">姓名：</div>
            <p id="pl_name" class="property"></p>
        <div class="property">职业：</div>
            <p id="pl_job" class="property"></p>
        <div class="property">性别：</div>
            <p id="pl_sex" class="property"></p>
        <div class="property">HP:</div>
            <p id="pl_hp" class="property"></p>
        <div class="property">随身物品：</div>
            <p id="pl_belongings" class="property"></p>
        
        <script>
            var pl_name = document.getElementById("pl_name");
            var pl_job = document.getElementById("pl_job");
            var pl_sex = document.getElementById("pl_sex");
            var pl_hp = document.getElementById("pl_hp");
            pl_job.innerText = localStorage.getItem("job");
            pl_sex.innerText = localStorage.getItem("sex");
            pl_name.innerText = localStorage.getItem("name")
            pl_hp.innerText = localStorage.getItem("hp")
            pl_belongings.innerText = localStorage.getItem("ob")
        </script>
    </div>


    <p class="dialog">我是一个...</p>

    <div class="choose">
        <button class="choose" id="sex_male" value="男" onclick="sexmale();">男的</button>
        <button class="choose" id="sex_female" value="女" onclick="sexfemale();">可爱的女孩子</button>
    </div>

        <script>
            var storage = window.localStorage;
            var times = 0;
            function sexmale(){
                sex_male.style.background = times % 2 == 0 ? 'rgb(85, 11, 11)' : 'black';
                storage.sex = times % 2 == 0 ? 'none' : sex_male.value;
                times++;
            }
        </script>


        <script>
            var storage = window.localStorage;
            function sexfemale(){
                sex_female.style.background = times % 2 == 0 ? 'rgb(85, 11, 11)' : 'black';
                storage.sex = times % 2 == 0 ? 'none' : sex_female.value;
                times++;
            }
            
        </script>

        <form action="/choose_name/" method="POST">
            {% csrf_token %}
            <button class="and">然后...</button>
        </form>


    <form action="/back_to_index/" method="POST">
        {% csrf_token %}
        <button class="back_to_index">回到最初</button>
    </form>

    </body>
    </html>