<!DOCTYPE html>
<html lang="ZH-CN">
{% load static %}
<head>
    <link type="text/css" rel="stylesheet" href="/static/css/character.css"/>
    <script type="text/javascript" src="/static/js/character.js/"></script>
    <meta charset="UTF-8">
</head>
<title>walking into night</title>
<body>
    <div class="character">
        <div class="name"></div>
        <div class="job"></div>
        <div class="hp"></div>
        <div class="mp"></div>
        <div class="belongings"></div>
    </div>



    <p1 class="dialog">我是一个...</p1>

        <button class="choose" id="job_doctor" value="医生" onclick="jobdoctor();">医生</button>
        <script>
            var storage = window.localStorage;
            var times = 0;
            function jobdoctor(){
                job_doctor.style.background = times % 2 == 0 ? 'rgb(85, 11, 11)' : 'black';
                storage.job = times % 2 == 0 ? 'none' : job_doctor.value;
                times++;
            }
        </script>

        <button class="choose" id="job_book" value="出版商" onclick="jobbook();">出版商</button>
        <script>
            var storage = window.localStorage;
            function jobbook(){
                job_book.style.background = times % 2 == 0 ? 'rgb(85, 11, 11)' : 'black';
                storage.job = times % 2 == 0 ? 'none' : job_book.value;
                times++;
            }
            
        </script>

        <button class="choose" id="job_pub" value="酒吧兼职招待" onclick="jobpub();">酒吧兼职招待</button>
        <script>
            var storage = window.localStorage;
            function jobpub(){
                job_pub.style.background = times % 2 == 0 ? 'rgb(85, 11, 11)' : 'black';
                storage.job = times % 2 == 0 ? 'none' : job_pub.value;
                times++;
            }
        </script>

        <form action="/choose_age_sex/" method="POST">
            {% csrf_token %}
            <button class="and">然后...</button>
        </form>


    <form action="/back_to_index/" method="POST">
        {% csrf_token %}
        <button class="back_to_index">回到最初</button>
    </form>

    </body>
    </html>