<!DOCTYPE html>
<html lang="ZH-CN">
{% load static %}
<head>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/character.css"/>
    <script type="text/javascript" src="/static/js/character.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
</head>

<title>walking into night</title>

<body>
    <script type="/static/js/charcter.js"></script>
    <div class="bigtitle">血色推理小镇</div>
    <div class="character">
        <div class="property">姓名：</div>
            <p id="pl_name" class="property"></p>
        <div class="property">职业：</div>
            <p id="pl_job" class="property"></p>
        <div class="property">性别：</div>
            <p id="pl_sex" class="property"></p>
        <div class="property">HP:</div>
            <p id="pl_hp" class="property"></p>
        <div class="property">随身物品：</div>
            <p id="pl_belongings" class="property"></p>
        
        <script>
            var pl_name = document.getElementById("pl_name");
            var pl_job = document.getElementById("pl_job");
            var pl_sex = document.getElementById("pl_sex");
            var pl_hp = document.getElementById("pl_hp");
            pl_job.innerText = localStorage.getItem("job");
            pl_sex.innerText = localStorage.getItem("sex");
            pl_name.innerText = localStorage.getItem("name")
            pl_hp.innerText = localStorage.getItem("hp")
            pl_belongings.innerText = localStorage.getItem("ob")
        </script>
    </div>



    <div class="maintext">
        <p id="mail_name" class="mail_name"></p>
        <br>
        趁新书刚刚完结的契机，我诚挚地邀请您来参与以这本新书为主题的推理宴会。
        <br>
        本次推理宴会将于11月30日于莱斯科尔，我的别墅召开，随信附上车票与路费，以防生变。
        <br>我邀请了包括您在内共15名客人一起参与这场宴会，希望到时能为我们留下共同难忘的回忆。
        <br><br>
        戴斯
    </div>

    <script>
        var mailname = '尊敬的：' + pl_name.innerText;
        mail_name.innerText = mailname;
    </script>

    <form action="/mail/" method="POST">
        {% csrf_token %}
        <button class="and">然后...</button>
    </form>


    <form action="/back_to_index/" method="POST">
        {% csrf_token %}
        <button class="back_to_index">回到最初</button>
    </form>
    </body>
    </html>